Lab4_BrianLiang - Copy (3)/Lab4_BrianLiang/Lbar4_BrianLiang_WebClient/Connected Services/CustomerWebClientServiceReference/IncidentService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="IncidentService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56820/IncidentService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56820/IncidentService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:56820/IncidentService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Lab4_BrianLiang" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IIncidentService_GetAllIncidents_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllIncidents" />
  </wsdl:message>
  <wsdl:message name="IIncidentService_GetAllIncidents_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllIncidentsResponse" />
  </wsdl:message>
  <wsdl:message name="IIncidentService_GetAllCustIncidents_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCustIncidents" />
  </wsdl:message>
  <wsdl:message name="IIncidentService_GetAllCustIncidents_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCustIncidentsResponse" />
  </wsdl:message>
  <wsdl:message name="IIncidentService_GetCustomerID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerID" />
  </wsdl:message>
  <wsdl:message name="IIncidentService_GetCustomerID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerIDResponse" />
  </wsdl:message>
  <wsdl:portType name="IIncidentService">
    <wsdl:operation name="GetAllIncidents">
      <wsdl:input wsaw:Action="http://tempuri.org/IIncidentService/GetAllIncidents" message="tns:IIncidentService_GetAllIncidents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIncidentService/GetAllIncidentsResponse" message="tns:IIncidentService_GetAllIncidents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCustIncidents">
      <wsdl:input wsaw:Action="http://tempuri.org/IIncidentService/GetAllCustIncidents" message="tns:IIncidentService_GetAllCustIncidents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIncidentService/GetAllCustIncidentsResponse" message="tns:IIncidentService_GetAllCustIncidents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerID">
      <wsdl:input wsaw:Action="http://tempuri.org/IIncidentService/GetCustomerID" message="tns:IIncidentService_GetCustomerID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIncidentService/GetCustomerIDResponse" message="tns:IIncidentService_GetCustomerID_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IIncidentService" type="tns:IIncidentService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllIncidents">
      <soap:operation soapAction="http://tempuri.org/IIncidentService/GetAllIncidents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCustIncidents">
      <soap:operation soapAction="http://tempuri.org/IIncidentService/GetAllCustIncidents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerID">
      <soap:operation soapAction="http://tempuri.org/IIncidentService/GetCustomerID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IncidentService">
    <wsdl:port name="BasicHttpBinding_IIncidentService" binding="tns:BasicHttpBinding_IIncidentService">
      <soap:address location="http://localhost:56820/IncidentService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>