Lab4_BrianLiang/Lab4_BrianLiang/Lbar4_BrianLiang_WebClient/Connected Services/CustomerWebClientServiceReference/IncidentService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56820/IncidentService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Lab4_BrianLiang" />
  <xs:element name="GetAllIncidents">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="techID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllIncidentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Lab4_BrianLiang" minOccurs="0" name="GetAllIncidentsResult" nillable="true" type="q1:ArrayOfIncident" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCustIncidents">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="custID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCustIncidentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Lab4_BrianLiang" minOccurs="0" name="GetAllCustIncidentsResult" nillable="true" type="q2:ArrayOfIncident" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerID">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Lab4_BrianLiang" minOccurs="0" name="GetCustomerIDResult" nillable="true" type="q3:ArrayOfIncident" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>